/*==============================
  SHARED STYLES
  ==============================*/
.section-heading {
    font-size: 40px;
    padding-bottom: 20px;
} 


/*==============================
  TITLE HEADER STYLE
  ==============================*/
.jumbotron {
	text-align: center;
	padding-top: 22rem;
	padding-bottom: 20rem;
	text-shadow: 2px 2px #000;
}


.lead {
    font-size: 25px;
    font-weight: bold;
}

.lead span{
	color: orange;
	font-weight: bold;
	font-size: 25px; 
}
	
.bg-cover {
	background-size: cover;
	color: white;
	background-position: center center;
	position: relative;
	z-index: -5;
}

.overlay {
	background-color: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

/*===================================
  NAVIGATION SECTION STYLE 
  ===================================*/
.navbar {
    font-size: 20px;
    background-color: #373635;
}


/*===================================
  SKILLS SECTION STYLE 
  ===================================*/
#skills {
    padding-top: 130px; 
    padding-bottom: 100px; 
}
    

/*===================================
  PORTFOLIO SECTION STYLE 
  ===================================*/
#portfolio {
	padding-top: 130px;
	padding-bottom: 100px;
}


/*===================================
  ABOUT ME SECTION STYLE 
  ===================================*/
#about {
    padding-top: 130px;
    padding-bottom: 100px;
}

/*===================================
  ABOUT ME SECTION STYLE 
  ===================================*/
#contact {
    padding-top: 115px;
    padding-bottom: 120px;
}

/*===================================
  INCOMPLETE/SHARED SECTION STYLES 
  ===================================*/
.comingSoon {  
	color: red;
	font-weight: bold;
	font-size: 45px;
	padding-top: 250px;
	padding-bottom: 250px;
}	


/*===================================
  ABOUT ME SECTION STYLE 
  ===================================*/
.aboutMeH2 {
	text-align: center;
	color: orange;
	font-weight: bold;
	font-size: 40px;
	padding-bottom: 5px; 
	text-shadow: 3px 3px rgba(25, 25, 25, 0.5);
}

.quote {
	font-style: italic;
	font-size:30px;
	padding-bottom: 5px; 
	color: #000; 
	text-align: center;
}

.attributedTo {
	padding-top: 8px;
	font-style: normal;
	text-align: center;
	font-size: 18px;
	font: bold;
}	